#user{
    text-align: center;
}
input[type=text], select {
    width: fit-content;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.savebtn
  display: block;
  background-color: palevioletred;
  color: black;
  padding: 14px 20px;
  border:none;
  border-radius: 4px;
  cursor: pointer;
    float:left;
}


.savebtn:hover {
  background-color: brown;
}